* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #1c002c;
    color: #e3d5e9;
    font-family: monospace;
    
}

#backgroundvideo {
    width: 100%;
    height: 100%;
    object-fit:cover;
    position: fixed;
    z-index: -1;
    opacity: 0.6;
    filter: brightness(0.4);
}

/*AQUI VA EL HEADER*/

.header {
    background-color: #360053;
    display: flex;
    justify-content: space-between;
    height: 75px;
    filter: blur(0.7px);
    
}

.header__son {
    display: flex;
    justify-content: space-between;
}

.menu {
    color: #e3d5e9;
    text-decoration: none;
    font-family: 'RACING HARD';
    font-size: 48px;
    position: relative;
    display: flex;
    margin: auto;
    padding: 10px 20px;
    right: 12px;

}

.menu__P {
    color: #e3d5e9;
    text-decoration:underline;
    font-family: 'RACING HARD';
    font-size: 48px;
    position: relative;
    display: flex;
    margin: auto;
    padding: 10px 20px;
    right: 12px;
    

}

.menu:hover{
    color: #727272;
    text-decoration: none;
    font-family: 'RACING HARD';
    font-size: 48px;
    position: relative;
    display: flex;
    margin: auto;
    padding: 10px 20px;
    right: 12px;
    

}

.header img {
    width: 75px;
    pad: 5px;
}

/*AQUI VAN LAS FUENTES*/

@font-face {
    font-family: 'RACING HARD';
    src: url("RACING HARD.ttf");
}

/*AQUI VA EL NOMBRE*/

.nombre {
    font-family: 'RACING HARD';
    padding-left: 35px;
    font-size: 284px;
    color: #e5b4fa;
    text-shadow: 10px 2px #d63ce9;
    filter: blur(0.7px);
    left: 40px;
}

/*AQUI VA EL ABOUT*/

.about {
    position: relative;
    left: 15px;
    margin-right: 50%;
    filter: blur(0.7px);
    filter: brightness(3px)
}

/*AQUI LAS REDES SOCIALES*/

.r_sociales {
    position: relative;
    top: 19vw;
    left: 15px;
    margin-right: 86%;
    border-radius: 20px;
    text-align: left;
    filter: blur(0.7px);
    
}

.r_sociales img {
    width: 52px;
    justify-content: space-between;
    filter: blur(0.7px);
}